.auto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

input {
    padding: 15px;
    height: 20px;
    width: 170px;
    border: 1px solid grey;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    /* text-transform: capitalize; */
}

.pos-rel {
    position: relative;
}

.autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    background-color: whitesmoke;
    right: 10px;
    top: 33px;
    width: 500px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
}

.option,
span {
    font-size: 25px;
    /* text-transform: capitalize; */
}

.option:hover {
    background-color: #D3FBD8;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

