.course-item {
    margin-bottom: 10px;
    background: #EEFBFF;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    text-align: center;
}

.card{
    -webkit-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);

    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    border : solid 
}

.main-courses{
    background-color: #D3FBD8;
    padding: 10px;
    margin: 10px;
}


/* 

P tag courses

*/
.course-name:hover{
    /* color: white; */
    font-weight: bolder;
}

.course-name{
   font-weight: bold;
   padding: 15px;
   margin: 15px;
   text-shadow: 0px 1px 2px #000000;
   cursor: pointer;
   text-align: center;
}

/* .course-location{
    
} */

/* .course-curriculum{
    
} */

/* .course-cost{

} */

/* .course-length{

} */

/* ######################################################## */

.main-stuff{
    padding: 10px;
    margin: 10px;
    background-color: #D3FBD8
;
}

.first-div{
    display: flex;
    justify-content: center;
}
