.course-item {
    margin-bottom: 10px;
    background: #EEFBFF;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    /* text-align: center; */
}

.card{
    -webkit-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);

    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    border : solid ; 
    
}

.main-courses{
    background-color: #D3FBD8;
    padding: 10px;
    margin: 10px;
    
}


/* 

P tag courses

*/
.course-name:hover{
    transform: scale(1.01);
}

.course-name{
   font-weight: bold;
   padding: 15px;
   margin: 15px;
   text-shadow: 0px 1px 2px #000000;
   cursor: pointer;
   text-align: center;
}

.main-stuff{
    padding: 10px;
    margin: 10px;
    background-color: #D3FBD8;
}

.first-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 30px;
    flex-grow: 1;
    flex-shrink: 1;
}


/* CourseInfo reviews stuff */
.column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.column1 {
    margin-bottom: 10px;
    background: #F3EBD6;
    padding: 15px;
    margin: 20px;
    font-weight: bold;  

    -webkit-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);

    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.review-name {
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000000;
}