.course-item {
    margin-bottom: 10px;
    background: #B8D7E0; /* fallback color if gradients are not supported*/ 
    background: -webkit-linear-gradient(-43deg,#B8D7E0 13%, rgba(21,126,81,0.7));
    background: -moz-linear-gradient(-43deg,#B8D7E0 13%, rgba(21,126,81,0.7));
    background: -o-linear-gradient(-43deg,#B8D7E0 13%, rgba(21,126,81,0.7));
    background: linear-gradient(-43deg,#B8D7E0 13%, rgba(21,126,81,0.7));
    padding: 15px;
    margin: 15px;
    font-weight: bold;
}

.card{
    -webkit-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);

  -webkit-border-radius: 100px 0px 100px 0px;
  -moz-border-radius: 100px 0px 100px 0px;
  border-radius: 100px 0px 100px 0px;
}

.main-courses{
    background-color: white;
    padding: 10px;
    margin: 10px;
    /* display: flex;
   justify-content: center; */
}


/* 

P tag courses

*/
.course-name{
   font-weight: bold;
   padding: 15px;
   margin: 15px;
   text-shadow: 0px 1px 2px #000000;
   
}

.course-location{

}

.course-curriculum{
    
}

.course-cost{
    display: flex;
    justify-content: flex-end;
}

.course-length{

}

/* ######################################################## */

.main-stuff{
    padding: 10px;
    margin: 10px;
   /* background-color: blue; */
   display: block;
   justify-content: space-between;
   border-radius: 100px;
}

