.main-log{
    background-color: white;
    padding: 50px;
    background: #D3FBD8;
    background: -moz-linear-gradient(-45deg, #D3FBD8 0%, #EEFBFF 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #D3FBD8), color-stop(100%, #EEFBFF));
    background: -webkit-linear-gradient(-45deg, #D3FBD8 0%, #EEFBFF 100%);
    background: -o-linear-gradient(-45deg, #D3FBD8 0%, #EEFBFF 100%);
    background: -ms-linear-gradient(-45deg, #D3FBD8 0%, #EEFBFF 100%);
    background: linear-gradient(135deg, #D3FBD8 0%, #EEFBFF 100%);
    display: flex;
    justify-content: center;
}

.text-stuff{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.card{
    margin: 50px; 
}

.card-header{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.card-body{
    margin: 30px;
}

.btn-submit{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

    -webkit-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 17px 3px rgba(0,0,0,0.5);
}

.btn-submit:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: grey;
}
.btn-submit:active {
	position:relative;
	top:1px;
}

.form-input{
    position: static;
    text-align: center;
    padding: 15px;
    justify-content: space-around;
}

.form-input:focus,
.form-input:active {
  color: black;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}