
.auto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

input {
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid purple;
    margin: 10px;
    font-size: 18px;
    /* text-transform: capitalize; */
}

.pos-rel {
    position: relative;
}

.reviewAutoContainer {
    position: relative;
    border-width: 0px 1px 1px 10px;
    border-style: solid;
    border-color: goldenrod;
    background-color: whitesmoke;
    right: 10px;
    top: 33px;
    width: 500px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
}

.reviewOption,
.course {
    font-size: 20px;
    /* text-transform: capitalize; */
}

.reviewOption:hover {
    background-color: lightblue;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}