.main-home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../background1.jpg");
    background-position: center;
    background-size: cover;
}

.h1,h2{
    color: white;
    opacity: 100%;
}

h2 {
    box-shadow: 5rem;
}